<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Reame ‘Radeon Pro 560X’ to ‘Radeon Pro Vega 20’</string>
				<key>Enabled</key>
				<true/>
				<key>Path</key>
				<string>SSDT-Vega20.aml</string>
			</dict>
		</array>
		<key>Delete</key>
		<array>
			<dict>
				<key>All</key>
				<true/>
				<key>Comment</key>
				<string>Diskable SSDT-PEG0GFX0</string>
				<key>Enabled</key>
				<true/>
				<key>OemTableId</key>
				<data>
				UEVHMEdGWDA=
				</data>
				<key>TableLength</key>
				<integer>0</integer>
				<key>TableSignature</key>
				<data>
				U1NEVA==
				</data>
			</dict>
		</array>
	</dict>
	<key>Misc</key>
	<dict>
		<key>BlessOverride</key>
		<array>
			<string>/EFI/BOOT/Bootx64.efi</string>
		</array>
		<key>Boot</key>
		<dict>
			<key>PickerMode</key>
			<string>Apple</string>
		</dict>
		<key>Security</key>
		<dict>
			<key>Vault</key>
			<string>Optional</string>
		</dict>
	</dict>
	<key>NVRAM</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>4D1EDE05-38C7-4A6A-9CC6-4BCCA8B38C14</key>
			<dict/>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<dict>
				<key>boot-args</key>
				<string></string>
			</dict>
		</dict>
		<key>Delete</key>
		<dict>
			<key>7C436110-AB2A-4BBB-A880-FE41995C9F82</key>
			<array>
				<string>boot-args</string>
			</array>
		</dict>
		<key>WriteFlash</key>
		<true/>
	</dict>
	<key>PlatformInfo</key>
	<dict>
		<key>Automatic</key>
		<true/>
		<key>Generic</key>
		<dict>
			<key>MLB</key>
			<string></string>
			<key>ROM</key>
			<data>
			</data>
			<key>SystemProductName</key>
			<string>MacBookPro15,3</string>
			<key>SystemSerialNumber</key>
			<string></string>
		</dict>
		<key>UpdateDataHub</key>
		<true/>
		<key>UpdateNVRAM</key>
		<true/>
		<key>UpdateSMBIOS</key>
		<true/>
		<key>UpdateSMBIOSMode</key>
		<string>Create</string>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>Drivers</key>
		<array>
			<string>OpenRuntime.efi</string>
		</array>
		<key>Output</key>
		<dict>
			<key>Resolution</key>
			<string>Max</string>
			<key>TextRenderer</key>
			<string>BuiltinGraphics</string>
		</dict>
	</dict>
</dict>
</plist>
